{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/Dungeon_master.css' %}">
    <title>Повелители Пещер</title>
    <style>
    #back-div {
    background-image: url( "{% static location.content.img %}" );
    background-size: cover;
        background-position: center;
    height: 100vh;
}
    #hero-spec-0 {
    background-image: url( "{% static hero.content.spec0_img %}" );
}
    #hero-spec-1 {
    background-image: url( "{% static hero.content.spec1_img %}" );
}
    #hero-spec-2 {
    background-image: url( "{% static hero.content.spec2_img %}" );
}
    #hero-spec-3 {
    background-image: url( "{% static hero.content.spec3_img %}" );
}
    #mob-attack {
    background-image: url( "{% static mob.current_attack.img %}" );
}
</style>
</head>
<body>
{% for dict in json %}
    <div id="back-div">
        <div id="back-tinting">
            <div id="manage-div">
                <form method="get">
                    <button type="submit" name="action" value="exit" class="game_button_exit animation-scale"><h4>выйти</h4></button>
                </form>
                <form method="get">
                    <button type="submit" name="action" value="about" class="game_button_exit animation-scale"><h4>Об игре</h4</button>
                </form>
            </div>
            <div id="title-div">
                <div id="title-block-left">
                    <!--         chose location                -->
                    {% if dict.phase == 'choose_location' or dict.phase == 'battle' or dict.phase == 'mob_attack' or dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                    <div style="display: flex; width: 400px">
                        <img src="{% static hero.content.img %}" width="140px" height="140px" alt="герой" style="border-radius: 20px; margin-right: 5px">
                        <div style="margin-top: 5px; display: flex; flex-direction: column; align-items: flex-start">
                            <div style="border-radius: 20px; height: 30px; margin: 2px; width: {{hero.hp_bar}}px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px">HP:{{hero.stats.hp}}</div>
                            <div style="border-radius: 20px; height: 30px; margin: 2px; width: {{hero.mp_bar}}px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">MP:{{hero.stats.mp}}</div>
                            <div style="border-radius: 20px; height: 30px; margin: 2px; width: {{hero.exp_bar}}px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">EXP:{{hero.stats.exp}}/{{hero.stats.exp_to_lvl}}</div>
                            <div style="border-radius: 20px; height: 30px; margin: 2px; width: 45px; color: #e0d0a9; font-size: 40px; font-weight: bolder; display: flex; position: relative; left: -140px; bottom: 100px; -webkit-text-stroke-color: #0e0d0d; -webkit-text-stroke-width: 1.5px; align-items: center; padding-left: 5px"">{{hero.stats.lvl}}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="title-block-center">
                    <!--         battle loose                -->
                    {% if dict.phase == 'battle_loose' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Герой погиб</h2>
                    {% endif %}
                    <!--         battle win                -->
                    {% if dict.phase == 'battle_win' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Герой победил</h2>
                    {% endif %}
                    <!--         chose hero                -->
                    {% if dict.phase == 'choose_hero' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Выбери героя</h2>
                    {% endif %}
                    <!--         chose location                -->
                    {% if dict.phase == 'choose_location' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Выбери локацию</h2>
                    {% endif %}
                    <!--         exploration                -->
                    {% if dict.phase == 'exploration' and location.path_traveled != 0 %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">пройдено: {{location.stats.completed}} из {{location.stats.length}}</h2>
                    {% endif %}
                    <!--         meet mob                -->
                    {% if dict.phase == 'meet_mob' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Вам встретилась на пути {{mob.content.class}}</h2>
                    {% endif %}
                    {% if dict.phase == 'mob_attack' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">{{mob.content.class}} атакует!</h2>
                    {% endif %}
                    {% if dict.phase == 'hero_attack' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">{{hero.content.name}} атакует!</h2>
                    {% endif %}
                </div>
                <div id="title-block-right">
                    {% if dict.phase == 'battle' or dict.phase == 'mob_attack' or dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                    <div style="display: flex; justify-content: right width: 400px;">
                        <div style="margin-left: 5px; display: flex; flex-direction: column; align-items: flex-end">
                            <div style="border-radius: 20px; height: 30px; margin: 4px; width: {{mob.hp_bar}}px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px">HP:{{mob.stats.hp}}</div>
                            <div style="border-radius: 20px; height: 30px; margin: 4px; width: {{mob.mp_bar}}px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px"">MP:{{mob.stats.mp}}</div>
                            <div style="border-radius: 20px; height: 30px; margin: 2px; width: 45px; color: #e0d0a9; font-size: 40px; font-weight: bolder; display: flex; position: relative; left: 160px; bottom: 70px; -webkit-text-stroke-color: #0e0d0d; -webkit-text-stroke-width: 1.5px; align-items: center; padding-left: 5px"">{{mob.stats.lvl}}</div>
                        </div>
                        <img src="{% static mob.content.img %}" width="140px" height="140px" alt="Моб" style="border-radius: 20px">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="body-div">
                <!--         BODY                -->
                <!--       phase  title                -->
                {% if dict.phase == 'title' %}
                <a href="#back-div" style="display: block"><form method="get">
                    <button type="submit" name="action" value="start_game" class="game_button animation-scale">Начать игру!</button>
                </form></a>
                {% endif %}
                <!--phase chose hero-->
                {% if dict.phase == 'choose_hero' %}
                <!--chose hero hero 1-->
                <form method="get">
                    <button type="submit" name="action" value="hero_1" class="game_card animation-scale">
                        <img src="{% static 'main/img/hero/hero_1.jpg' %}" alt="hero_0" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                <!--chose hero hero 2-->
                <form method="get">
                    <button type="submit" name="action" value="hero_0" class="game_card animation-scale">
                        <img src="{% static 'main/img/hero/hero_0.jpg' %}" alt="hero_1" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                <!--chose hero hero 3-->
                <form method="get">
                    <button type="submit" name="action" value="hero_2" class="game_card animation-scale">
                        <img src="{% static 'main/img/hero/hero_2.jpg' %}" alt="hero_2" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                {% endif %}
                <!--mob_attack    hero_attack     battle_win    battle_loose-->
                {% if dict.phase == 'mob_attack' or dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                <form method="get">
                    <button type="submit" name="action" value="This is hero" class="game_card animation-scale">
                        <!--аватар героя без анимации-->
                        {% if dict.phase == 'mob_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                            <img src="{% static hero.content.img %}" alt="mob" width="400px" height="400px">
                        {% endif %}
                        {% if dict.phase == 'hero_attack' and mob.current_attack.pwr == None %}
                            <img src="{% static hero.content.img %}" alt="mob" width="400px" height="400px">
                        {% endif %}
                        <!--аватар героя с анимацией-->
                        {% if dict.phase == 'hero_attack' and mob.current_attack.pwr %}
                            <img class="animation-shake-card" src="{% static hero.content.img %}" alt="mob" width="400px" height="400px">
                        <!--урон от моба на аватаре героя-->
                        <h1 style="color: red; -webkit-text-stroke-width: 5px; -webkit-text-stroke-color: #0e0d0d; font-weight: bolder; font-size: 140px; position: absolute; right: 300px; bottom: 280px; text-shadow: #e0d0a9 4px 4px 10px;">{{mob.current_attack.pwr}}</h1>
                        {% endif %}
                    </button>
                </form>
                <!--блок VS-->
                {% endif %}
                {% if dict.phase == 'mob_attack' or dict.phase == 'hero_attack' %}
                <h1 style="font-size: 150px">VS</h1>
                {% endif %}
                {% if dict.phase == 'battle_win' %}
                <form method="get">
                    <button type="submit" name="action" value="This is mob" class="game_card animation-scale">
                        <img src="{% static 'main/img/items/win_0.jpg' %}" alt="mob" width="300px" height="300px" style="border-radius: 30px">
                        <h1 style="font-size: 30px; color: #80ff00">опыт: +{{mob.stats.exp}}</h1>
                    </button>
                </form>
                {% endif %}
                <!--'battle_loose'-->
                {% if dict.phase == 'battle_loose' %}
                <form method="get">
                    <button type="submit" name="action" value="exit" class="game_button animation-scale">Начать<br>заново</button>
                </form>
                {% endif %}
                <!--отображение карточки моба-->
                {% if dict.phase == 'battle_loose' or dict.phase == 'battle_win' or dict.phase == 'mob_attack' or dict.phase == 'hero_attack' %}
                <form method="get">
                    <button type="submit" name="action" value="This is mob" class="game_card animation-scale">
                        {% if dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'mob_attack' %}

                        {% if dict.phase == 'hero_attack' or dict.phase == 'battle_win' %}
                            <img src="{% static mob.content.img %}" alt="mob" width="400px" height="400px" style="border-radius: 30px">
                        {% endif %}

                        {% if dict.phase == 'mob_attack' and hero.current_attack.pwr == None %}
                            <img src="{% static mob.content.img %}" alt="mob" width="400px" height="400px" style="border-radius: 30px">
                        {% endif %}

                        {% endif %}
                        <!-- phase == 'battle_win'      MOB RED TINTING           -->
                        {% if dict.phase == 'battle_win' %}
                        <div style="background-color: rgba(122,0,0,0.7); box-shadow: 0px 0px 50px red; height: 400px; width: 400px; position: absolute; top: 50; right: 50; border-radius: 30px"></div>
                        {% endif %}
                        <!--       MOB DAMAGED NUMBER and card animation          -->
                        {% if dict.phase == 'mob_attack' and hero.current_attack.pwr %}
                        <div class="animation-shake-card">
                            <img src="{% static mob.content.img %}" alt="mob" width="400px" height="400px" style="border-radius: 30px">
                            <!--  анимация тонировка аватара красным          -->
                        </div>
                        <h1 style="color: red; -webkit-text-stroke-width: 5px; -webkit-text-stroke-color: #0e0d0d; font-weight: bolder; font-size: 140px; position: absolute; left: 300px; bottom: 280px; text-shadow: #e0d0a9 4px 4px 10px;">{{hero.current_attack.pwr}}</h1>
                        {% endif %}
                    </button>
                </form>
                {% endif %}
                <!--         meet mob                -->
                {% if dict.phase == 'meet_mob'%}
                <form method="get">
                    <button type="submit" name="action" value="This is mob" class="game_card animation-scale">
                        <img src="{% static mob.content.img %}" alt="mob" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                {% endif %}
                <!--         chose location                -->
                {% if dict.phase == 'choose_location' %}
                <form method="get">
                    <button type="submit" name="action" value="cave_0" class="game_card animation-scale">
                        <img src="{% static 'main/img/locations/loc_1.jpg' %}" alt="пещера" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                <form method="get">
                    <button type="submit" name="action" value="cave_1" class="game_card animation-scale">
                        <img src="{% static 'main/img/locations/loc_2.jpg' %}" alt="пещера" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                <form method="get">
                    <button type="submit" name="action" value="cave_2" class="game_card animation-scale">
                        <img src="{% static 'main/img/locations/loc_3.jpg' %}" alt="пещера" width="400px" height="400px" style="border-radius: 30px">
                    </button>
                </form>
                {% endif %}

            </div>
            <div id="foot-div">
                <!--         exploration                -->
                {% if dict.phase == 'exploration' and loc.path_traveled == 0 %}
                <form method="get">
                    <button type="submit" name="action" value="do_step" class="game_button animation-scale">Начать путешествие</button>
                </form>
                {% else %}
                <!--         begin exploration                -->
                {% if dict.phase == 'exploration' %}
                <form method="get">
                    <button type="submit" name="action" value="do_step" class="game_button animation-scale">Идти вперед</button>
                </form>
                {% endif %}
                {% endif %}
                <!--         exploration completed              -->
                {% if dict.phase == 'exploration_completed' %}
                <form method="get">
                    <button type="submit" name="action" value="complete" class="game_button animation-scale">Завершить исследование</button>
                </form>
                {% endif %}
                <!--         meet mob                -->
                {% if dict.phase == 'meet_mob' %}
                <form method="get">
                    <button  type="submit" name="action" value="enter_the_battle" class="game_button animation-scale">Вступить в бой</button>
                </form>
                {% endif %}
                {% if dict.phase == 'mob_attack' %}
                <form method="get">
                    <button id="mob-attack" type="submit" name="action" value="" class="skill_button animation-scale">{{mob.current_attack.name}}</button>
                </form>
                {% endif %}
                {% if dict.phase == 'battle_win' %}
                <form method="get">
                    <button type="submit" name="action" value="do_step" class="game_button animation-scale">Идти дальше</button>
                </form>
                {% endif %}
                {% if dict.phase == 'hero_attack' %}
                <form method="get">
                    <button id="hero-spec-0" type="submit" name="action" value="attack_0" class="skill_button animation-scale">атака</button>
                </form>
                <form method="get">
                    <button id="hero-spec-1" type="submit" name="action" value="attack_1" class="skill_button animation-scale">{{hero.content.spec1}}</button>
                </form>
                <form method="get">
                    <button id="hero-spec-2" type="submit" name="action" value="attack_2" class="skill_button animation-scale">{{hero.content.spec2}}</button>
                </form>
                <form method="get">
                    <button id="hero-spec-3" type="submit" name="action" value="attack_3" class="skill_button animation-scale">{{hero.content.spec3}}</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</body>
</html>