{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
    {% block style %}
        <style>
            #back-div {
            background-image: url( "{% static location.content.img %}" );
            background-size: cover;
            height: 600px;
        }
            #hero-spec-0 {
            background-image: url( "{% static hero.content.spec0_img %}" );
            border-radius: 20px;
            font-size: 30px;
            width: 200px;
            height: 100px;
        }
            #hero-spec-1 {
            background-image: url( "{% static hero.content.spec1_img %}" );
            border-radius: 20px;
            font-size: 30px;
            width: 200px;
            height: 100px;
        }
            #hero-spec-2 {
            background-image: url( "{% static hero.content.spec2_img %}" );
            border-radius: 20px;
            font-size: 30px;
            width: 200px;
            height: 100px;
        }
            #hero-spec-3 {
            background-image: url( "{% static hero.content.spec3_img %}" );
            border-radius: 20px;
            font-size: 30px;
            width: max(max-content, 200px);
            height: 100px;
        }
            #mob-attack {
            background-image: url( "{% static mob.current_attack.img %}" );
            border-radius: 20px;
            font-size: 30px;
            width: 400px;
            height: 100px;
            }
        </style>
    {% endblock %}

{% block header %}
<h1>{{ header }}</h1>
{% endblock %}
{% block content %}
    <div id="back-div">
        <div id="back-tinting">
            <div id="manage-div">
                <div class="game">
                    <form method="get">
                        <button type="submit" name="action" value="exit" class="game_button_exit"> выйти </button>
                    </form>
                </div>
                <div class="game">
                    <form method="get">
                        <button type="submit" name="action" value="about" class="game_button_exit"> Об игре </button>
                    </form>
                </div>
            </div>

            {% for dict in json %}
            <div id="title-div">
                <div id="title-block-left">
                    <!--         chose location                -->
                    {% if dict.phase == 'choose_location' or dict.phase == 'battle' or dict.phase == 'mob_attack' or dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                    <div style="display: flex; width: 400px">
                        <img src="{% static hero.content.img %}" width="120px" height="120px" alt="герой" style="border-radius: 20px; margin-right: 5px">
                        <div style="margin-top: 5px; display: flex; flex-direction: column; align-items: flex-start">
                            <div style="border-radius: 10px; height: 25px; margin: 2px; width: {{hero.hp_bar}}px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px">HP:{{hero.stats.hp}}</div>
                            <div style="border-radius: 10px; height: 25px; margin: 2px; width: {{hero.mp_bar}}px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">MP:{{hero.stats.mp}}</div>
                            <div style="border-radius: 10px; height: 25px; margin: 2px; width: {{hero.exp_bar}}px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">EXP:{{hero.stats.exp}}/{{hero.stats.exp_to_lvl}}</div>
                            <div style="border-radius: 10px; height: 25px; margin: 2px; width: 45px; color: #e0d0a9; font-size: 40px; font-weight: bolder; display: flex; position: relative; left: -120px; bottom: 80px; -webkit-text-stroke-color: #0e0d0d; -webkit-text-stroke-width: 1.5px; align-items: center; padding-left: 5px"">{{hero.stats.lvl}}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="title-block-center">
                    <!--         battle loose                -->
                    {% if dict.phase == 'battle_loose' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Герой погиб</h2>
                    {% endif %}
                    <!--         battle win                -->
                    {% if dict.phase == 'battle_win' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Герой победил</h2>
                    {% endif %}
                    <!--         chose hero                -->
                    {% if dict.phase == 'choose_hero' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Выбери героя</h2>
                    {% endif %}
                    <!--         chose location                -->
                    {% if dict.phase == 'choose_location' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Выбери локацию</h2>
                    {% endif %}
                    <!--         exploration                -->
                    {% if dict.phase == 'exploration' and location.path_traveled != 0 %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">пройдено: {{location.stats.completed}} из {{location.stats.length}}</h2>
                    {% endif %}
                    <!--         meet mob                -->
                    {% if dict.phase == 'meet_mob' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">Вам встретилась на пути {{mob.content.class}}</h2>
                    {% endif %}
                    {% if dict.phase == 'mob_attack' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">{{mob.content.class}} атакует!</h2>
                    {% endif %}
                    {% if dict.phase == 'hero_attack' %}
                    <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 0.5px; font-weight: bolder">{{hero.content.name}} атакует!</h2>
                    {% endif %}
                </div>
                <div id="title-block-right">
                    {% if dict.phase == 'battle' or dict.phase == 'mob_attack' or dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                    <div style="display: flex; justify-content: right width: 400px;">
                        <div style="margin-left: 5px; display: flex; flex-direction: column; align-items: flex-end">
                            <div style="border-radius: 10px; height: 25px; margin: 4px; width: {{mob.hp_bar}}px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px">HP:{{mob.stats.hp}}</div>
                            <div style="border-radius: 10px; height: 25px; margin: 4px; width: {{mob.mp_bar}}px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px"">MP:{{mob.stats.mp}}</div>
                            <div style="border-radius: 10px; height: 25px; margin: 2px; width: 45px; color: #e0d0a9; font-size: 40px; font-weight: bolder; display: flex; position: relative; left: 130px; bottom: 55px; -webkit-text-stroke-color: #0e0d0d; -webkit-text-stroke-width: 1.5px; align-items: center; padding-left: 5px"">{{mob.stats.lvl}}</div>
                        </div>
                        <img src="{% static mob.content.img %}" width="120px" height="120px" alt="Моб" style="border-radius: 20px">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="body-div">
                <!--         title                -->
                {% if dict.phase == 'title' %}
                    <div id="game">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="start_game" class="game_button">Начать игру!</button>
                        </form>
                    </div>
                {% endif %}
                <!--         chose hero                -->
                {% if dict.phase == 'choose_hero' %}
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="hero_0" class="game_card">
                                <img src="{% static 'main/img/hero/hero_0.jpg' %}" alt="hero_0" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="hero_1" class="game_card">
                                <img src="{% static 'main/img/hero/hero_1.jpg' %}" alt="hero_1" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="hero_2" class="game_card">
                                <img src="{% static 'main/img/hero/hero_2.jpg' %}" alt="hero_2" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                {% endif %}
                <!--         mob_attack    hero_attack     battle_win    battle_loose   -->
                {% if dict.phase == 'mob_attack' or dict.phase == 'hero_attack' or dict.phase == 'battle_win' or dict.phase == 'battle_loose' %}
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="This is hero" class="game_card">
                                <img src="{% static hero.content.img %}" alt="mob" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                    <div class="game" style="margin: 30px">
                        {% if dict.phase == 'mob_attack' or dict.phase == 'hero_attack' %}
                        <h1 style="font-size: 150px">VS</h1>
                        {% endif %}
                        {% if dict.phase == 'battle_win' %}
                        <form method="get" class="game">
                            <button type="submit" name="action" value="This is mob" class="game_card">
                                <img src="{% static 'main/img/items/win_0.jpg' %}" alt="mob" width="150px" height="150px" style="border-radius: 30px">
                                <h1 style="font-size: 30px">опыт: +{{mob.stats.exp}}</h1>
                            </button>
                        </form>

                        {% endif %}
                        {% if dict.phase == 'battle_loose' %}
                        <div class="game">
                            <form method="get" class="game">
                                <button  id="1" type="submit" name="action" value="exit" class="game_button">Начать<br>заново</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="This is mob" class="game_card">
                                <img src="{% static mob.content.img %}" alt="mob" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                {% endif %}
                                <!--         meet mob                -->
                {% if dict.phase == 'meet_mob'%}
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button type="submit" name="action" value="This is mob" class="game_card">
                                <img src="{% static mob.content.img %}" alt="mob" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                {% endif %}
                <!--         chose location                -->
                {% if dict.phase == 'choose_location' %}
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button id="1" type="submit" name="action" value="cave_0" class="game_card">
                                <img src="{% static 'main/img/locations/loc_1.jpg' %}" alt="пещера" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button id="1" type="submit" name="action" value="cave_1" class="game_card">
                                <img src="{% static 'main/img/locations/loc_2.jpg' %}" alt="пещера" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                    <div class="game" style="margin: 30px">
                        <form method="get" class="game">
                            <button id="1" type="submit" name="action" value="cave_2" class="game_card">
                                <img src="{% static 'main/img/locations/loc_3.jpg' %}" alt="пещера" width="280px" height="280px" style="border-radius: 30px">
                            </button>
                        </form>
                    </div>
                {% endif %}
                <!--         exploration                -->
                {% if dict.phase == 'exploration' and loc.path_traveled == 0 %}
                    <div class="game">
                        <form method="get" class="game">
                            <button  id="1" type="submit" name="action" value="do_step" class="game_button">Начать путешествие</button>
                        </form>
                    </div>
                {% else %}
                <!--         begin exploration                -->
                {% if dict.phase == 'exploration' %}
                    <div class="game">
                        <form method="get" class="game">
                            <button  id="1" type="submit" name="action" value="do_step" class="game_button">Идти вперед</button>
                        </form>
                    </div>
                {% endif %}
                {% endif %}
                <!--         exploration completed              -->
                {% if dict.phase == 'exploration_completed' %}
                    <div id="game">
                        <form method="get" class="game">
                            <button  id="1" type="submit" name="action" value="complete" class="game_button">Завершить исследование</button>
                        </form>
                    </div>
                {% endif %}

            </div>
            <div id="foot-div">
                <!--         meet mob                -->
                {% if dict.phase == 'meet_mob' %}
                    <div id="game">
                        <form method="get" class="game">
                            <button  id="1" type="submit" name="action" value="enter_the_battle" class="game_button">Вступить в бой</button>
                        </form>
                    </div>
                {% endif %}
                {% if dict.phase == 'mob_attack' %}
                    <div class="game">
                        <form method="get" class="game">
                            <button  id="mob-attack" type="submit" name="action" value="" class="game_button">{{mob.current_attack.name}}</button>
                        </form>
                    </div>
                {% endif %}
                {% if dict.phase == 'battle_win' %}
                    <div class="game">
                        <form method="get" class="game">
                            <button  id="1" type="submit" name="action" value="do_step" class="game_button">Идти дальше</button>
                        </form>
                    </div>
                {% endif %}
                {% if dict.phase == 'hero_attack' %}
                    <div class="game">
                        <form method="get" class="game">
                            <a href="#back-div"><button  id="hero-spec-0" type="submit" name="action" value="attack_0" class="game_button">атака</button></a>
                        </form>
                    </div>
                    <div class="game">
                        <form method="get" class="game">
                            <a href="#back-div"><button id="hero-spec-1" type="submit" name="action" value="attack_1" class="game_button">{{hero.content.spec1}}</button></a>
                        </form>
                    </div>
                    <div class="game">
                        <form method="get" class="game">
                            <a href="#back-div"><button id="hero-spec-2" type="submit" name="action" value="attack_2" class="game_button">{{hero.content.spec2}}</button></a>
                        </form>
                    </div>
                    <a href="#back-div">
                    <div class="game">
                        <form method="get" class="game">
                            <button id="hero-spec-3" type="submit" name="action" value="attack_3" class="game_button">{{hero.content.spec3}}</button>
                        </form>
                    </a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}