{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
    {% block style %}
        <style>
            #back-div {
            background-image: url( "{% static location.location.img %}" );
            background-size: cover;
            height: 600px;
        }
        </style>
    {% endblock %}

{% block header %}
<h1>{{ header }}</h1>
{% endblock %}
{% block content %}
    <div id="back-div"><br>
        <div id="manage-div">
            <div class="game">
                <form method="get" class="game">
                    <button type="submit" name="action" value="exit" class="game_button_exit">выйти</button>
                </form>
            </div>
        </div>
        {% for dict in json %}
        <div id="title-div">
            <div id="title-block-1">
                <!--         chose location                -->
                {% if dict.phase == 'choose_location' %}
                <div style="display: flex; width: 400px">
                    <img src="{% static hero.content.img %}" width="120px" height="120px" alt="герой" style="border-radius: 20px; margin-right: 5px">
                    <div style="margin-top: 5px; display: flex; flex-direction: column; align-items: flex-start">
                        <div style="border-radius: 10px; height: 25px; margin: 2px; width: {{hero.hp_bar}}px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px">HP:{{hero.stats.hp}}</div>
                        <div style="border-radius: 10px; height: 25px; margin: 2px; width: {{hero.mp_bar}}px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">MP:{{hero.stats.mp}}</div>
                        <div style="border-radius: 10px; height: 25px; margin: 2px; width: {{hero.exp_bar}}px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">EXP:{{hero.stats.exp}}/{{hero.stats.exp_to_lvl}}</div>
                        <div style="border-radius: 10px; height: 25px; margin: 2px; width: 45px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">lvl:{{hero.stats.lvl}}</div>
                    </div>
                </div>
                 {% endif %}
            </div>
            <div id="title-block-2">
                <!--         chose hero                -->
                {% if dict.phase == 'choose_hero' %}
                <h1>Выбери героя</h1>
                {% endif %}
                <!--         chose location                -->
                {% if dict.phase == 'choose_location' %}
                <h2 style="-webkit-text-stroke-color: #000000; -webkit-text-stroke-width: 2px; font-family: 'Comic Sans MS'">Выбери локацию</h2>
                {% endif %}
                {% if dict.phase == 'exploration' and location.path_traveled != 0 %}
                <h2>пройдено: {{location.path_traveled}} из {{location.length}}</h2>
                {% endif %}
            </div>
            <div id="title-block-3">
                {% if dict.phase == 'battle' %}
                <div style="display: flex; justify-content: right width: 400px;">
                    <div style="margin-left: 5px; display: flex; flex-direction: column; align-items: flex-end">
                        <div style="border-radius: 10px; height: 25px; margin: 4px; width: {{mob.hp}}px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px">HP</div>
                        <div style="border-radius: 10px; height: 25px; margin: 4px; width: 150px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px"">MP</div>
                        <div style="border-radius: 10px; height: 25px; margin: 4px; width: 70px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; justify-content: flex-end; padding-right: 5px"">LVL {{player.lvl}}</div>
                    </div>
                    <img src="{% static mob.img %}" width="120px" height="120px" alt="Моб" style="border-radius: 20px">
                </div>
                {% endif %}
            </div>
        </div>
        <div id="body-div">
            <!--         title                -->
            {% if dict.phase == 'title' %}
                <div id="game">
                    <form method="get" class="game">
                        <button  id="1" type="submit" name="action" value="start_game" class="game_button">Начать игру!</button>
                    </form>
                </div>
            {% endif %}
            <!--         chose hero                -->
            {% if dict.phase == 'choose_hero' %}
                <div class="game" style="margin: 30px">
                    <form method="get" class="game">
                        <button id="1" type="submit" name="action" value="hero_0" class="game_card">
                            <img src="{% static 'main/img/hero/mage.jpg' %}" alt="hero_0" width="200px" height="200px" style="border-radius: 30px">
                        </button>
                    </form>
                </div>
                <div class="game" style="margin: 30px">
                    <form method="get" class="game">
                        <button id="1" type="submit" name="action" value="hero_1" class="game_card">
                            <img src="{% static 'main/img/hero/warior.jpg' %}" alt="hero_1" width="200px" height="200px" style="border-radius: 30px">
                        </button>
                    </form>
                </div>
                <div class="game" style="margin: 30px">
                    <form method="get" class="game">
                        <button id="1" type="submit" name="action" value="hero_2" class="game_card">
                            <img src="{% static 'main/img/hero/chief.jpg' %}" alt="hero_2" width="200px" height="200px" style="border-radius: 30px">
                        </button>
                    </form>
                </div>
            {% endif %}
            <!--         chose location                -->
            {% if dict.phase == 'choose_location' %}
                <div class="game" style="margin: 30px">
                    <form method="get" class="game">
                        <button id="1" type="submit" name="action" value="cave_1" class="game_card">
                            <img src="{% static 'main/img/locations/loc_1.jpg' %}" alt="пещера" width="200px" height="200px" style="border-radius: 30px">
                        </button>
                    </form>
                </div>
                <div class="game" style="margin: 30px">
                    <form method="get" class="game">
                        <button id="1" type="submit" name="action" value="cave_2" class="game_card">
                            <img src="{% static 'main/img/locations/loc_2.jpg' %}" alt="пещера" width="200px" height="200px" style="border-radius: 30px">
                        </button>
                    </form>
                </div>
                <div class="game" style="margin: 30px">
                    <form method="get" class="game">
                        <button id="1" type="submit" name="action" value="cave_3" class="game_card">
                            <img src="{% static 'main/img/locations/loc_3.jpg' %}" alt="пещера" width="200px" height="200px" style="border-radius: 30px">
                        </button>
                    </form>
                </div>
            {% endif %}
            <!--         exploration                -->
            {% if dict.phase == 'exploration' and loc.path_traveled == 0 %}
                <div id="game">
                    <form method="get" class="game">
                        <button  id="1" type="submit" name="action" value="do_step" class="game_button">Начать путешествие</button>
                    </form>
                </div>
            {% else %}
            <!--         begin exploration                -->
            {% if dict.phase == 'exploration' %}
                <div id="game">
                    <form method="get" class="game">
                        <button  id="1" type="submit" name="action" value="do_step" class="game_button">Идти вперед</button>
                    </form>
                </div>
            {% endif %}
            {% endif %}
            <!--         exploration completed              -->
            {% if dict.phase == 'exploration_completed' %}
                <div id="game">
                    <form method="get" class="game">
                        <button  id="1" type="submit" name="action" value="complete" class="game_button">Завершить исследование</button>
                    </form>
                </div>
            {% endif %}

        </div>
        <div id="foot-div">

        </div>
        {% endfor %}
    </div>
{% endblock %}