{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="about">
        <a class="about-links" href="https://practicum.yandex.ru" target="_blank">ЯНДЕКС ПРАКТИКУМ</a>
        <a class="about-links" href="https://docs.djangoproject.com" target="_blank">Django Documentation</a>
        <a class="about-links" href="https://github.com/eightoRx" target="_blank">Пашок</a>
        <a class="about-links" href="https://github.com/Reddevilarmy84" target="_blank">Мой репозиторий</a>
        <a class="about-links" href="https://git-scm.com/doc" target="_blank">Git documentation</a>
        <a class="about-links" href="https://doka.guide/" target="_blank">doka</a>
    </div>

{% endblock %}