{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
<h1>{{ header }}</h1>
{% endblock %}
{% block content %}
    <div id="back-div"><br>
        <div id="title-div">
            {% for item in json %}
            {% if item.id == 'config' %}
            {% if item.phase == 'title' %}
            <div style="display: flex; width: 400px;">
                <img src="{% static 'main/img/mage.jpg' %}" width="100px" height="100px" alt="маг" style="border-radius: 20px">
                <div style="margin-left: 5px">
                    <div style="border-radius: 10px; height: 25px; margin: 4px; width: 300px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px">HP</div>
                    <div style="border-radius: 10px; height: 25px; margin: 4px; width: 260px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">MP</div>
                    <div style="border-radius: 10px; height: 25px; margin: 4px; width: 70px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; padding-left: 5px"">EXP</div>
                </div>
            </div>
        {% endif %}
        {% endif %}
        {% endfor %}
            <div id="game">
                <form method="get" class="game">
                    <button type="submit" name="action" value="exit" class="game_button_exit">выйти из игры</button>
                </form>
            </div>
        {% for item in json %}
        {% if item.id == 'config' %}
        {% if item.phase == 'title' %}
            <div style="display: flex; width: 400px; justify-content: right">
                <div style="margin-left: 5px;">
                    <div style="border-radius: 10px; height: 25px; margin: 4px; width: 300px; background-color: #ff0000; color: #e0d0a9; display: flex; align-items: center; justify-content: right; position: relative; right: 1px; padding-left: 5px">HP</div>
                    <div style="border-radius: 10px; height: 25px; margin: 4px; width: 260px; background-color: #0020a2; color: #e0d0a9; display: flex; align-items: center; justify-content: right; position: relative; right: 1px; padding-left: 5px"">MP</div>
                    <div style="border-radius: 10px; height: 25px; margin: 4px; width: 70px; background-color: #6e6e6e; color: #e0d0a9; display: flex; align-items: center; justify-content: right; position: relative; right: 1px; padding-left: 5px"">EXP</div>
                </div>
                <img src="{% static 'main/img/mage.jpg' %}" width="100px" height="100px" alt="маг" style="border-radius: 20px">
            </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        <div id="body-div">
<!-------------------phase title------------------------------>
        {% for item in json %}
        {% if item.id == 'config' %}
        {% if item.phase == 'title' %}
            <div id="game">
                <form method="get" class="game">
                    <button  id="1" type="submit" name="action" value="start_game" class="game_button">Начать игру!</button>
                </form>
            </div>
        {% endif %}
        {% endif %}
        {% endfor %}

        </div>
<!-------------------end phase title------------------------------>
        <div id="foot-div">
        {% for item in json %}
        {% if item.id == 'config' %}
        {% if item.phase == 'title' %}
            <div class="game">
                атака
            </div>
            <div class="game">
                спец прием 1
            </div>
            <div class="game">
                спец прием 2
            </div>
            <div class="game">
                спец прием 3
            </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}