{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}
    <h1>{{ header }}!</h1>
{% endblock %}
{% block content %}
    <div id="monitor">Отображение</div>
    <h2 id="greet">Добро пожаловать в раздел JavaScript!<br>
    Он состоит из мини-блоков в которых реализуется код на JC</h2><br>
    <div id="parentElement" class="content">
        <!--JC, выведи в JavaBox приветствие-->
        <div class="JavaBox">
            JC, выведи в JavaBox приветствие.<br>
            <script>
                document.write('HELLO! I am Java Script!')
            </script>
        </div>
        <!--выведи сообщение с приветствием-->
        <div class="JavaBox" onclick="showmessage ()">
            JC, выведи сообщение с приветствием.<br>
        </div>
        <!--Добавить JavaBox-->
        <div class="JavaBox" onclick="f ()">
            Добавить JavaBox<br>
            <script>
                function  f () {
                    let parent = document.getElementById('parentElement');
                    let newElement = document.createElement('div');
                    newElement.className = "JavaBox";
                    newElement.textContent = "Новый JavaBox";
                    parent.appendChild(newElement);
                }
            </script>
        </div>
        <!--Поменяй текст в приветствии-->
        <div class="JavaBox" onclick="changeGreet ()">
            Поменяй текст в приветствии<br>
            <script>
                function changeGreet () {
                    let greet = document.getElementById('greet')
                    greet.innerHTML = "Изменили текст в приветствии"
                }
            </script>
        </div>
        <!--JC, включи монитор.-->
        <div class="JavaBox" id="turnedOff" style="background-color: rgb(255, 0, 0)">JC, включи монитор.
            <script>
                var status = 'off'
                document.addEventListener('DOMContentLoaded', () => {
                    document.getElementById("turnedOff").addEventListener("click",
                        function () {
                            if(status === 'off') {
                                status = 'on';
                                document.getElementById('monitor').style.display = 'block';
                                document.getElementById('turnedOff').textContent = `JC, выключи монитор.`;
                                document.getElementById('turnedOff').style.backgroundColor = `green`;
                            }
                            else {
                                status = 'off'
                                document.getElementById('monitor').style.display = 'none';
                                document.getElementById('turnedOff').textContent = `JC, включи монитор.`;
                                document.getElementById('turnedOff').style.backgroundColor = `red`;
                            }
                        }
                    )
                })
            </script>
        </div>
    </div>
    <div style="height: 50vh"></div>
{% endblock %}