{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}
    <h1>{{ header }}!</h1>

{% endblock %}
{% block content %}
    <div id="monitor"><h1>Отображение изменений</h1></div>
    <h1 id="greet" style="text-align: center; margin-top: 40px">Добро пожаловать в раздел JavaScript!<br>
    Он состоит из мини-блоков в которых реализуется код на JC</h1><br>
    <div id="parentElement" class="content">
        <div class="JavaBox">
            JC, выведи в JavaBox приветствие.<br>
            <script>
                document.write('HELLO! I am Java Script!')
            </script>
        </div>
        <div class="JavaBox" onclick="showmessage ()">
            JC, выведи сообщение с приветствием.<br>
        </div>
        <div class="JavaBox" onclick="f ()">
            Добавить JavaBox<br>
            <script>
                function  f () {
                    let parent = document.getElementById('parentElement');
                    let newElement = document.createElement('div');
                    newElement.className = "JavaBox";
                    newElement.textContent = "Новый JavaBox";
                    parent.appendChild(newElement);
                }
            </script>
        </div>
        <div class="JavaBox" onclick="changeHeader ()">
            Поменяй текст в приветствии<br>
            <script>
                function changeHeader () {
                    let greet = document.getElementById('greet')
                    greet.innerHTML = "Изменили текст в приветствии"
                }
            </script>
        </div>
        <div class="JavaBox" id="turn" onclick="turnOn ()">
            JC, включи монитор.<br>
            <script>
                function turnOn () {
                    let monitor = document.getElementById('monitor');
                    monitor.style.display = "flex";
                }
            </script>
        </div>
    </div>
    <div style="height: 50vh"></div>
{% endblock %}