{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon-16x16.png' %}">
    <script type="text/javascript" src="{% static 'main/JC/main.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
<body id="body">
    <div id="tinting">
        <div id="skeleton">
            <header id="header">
                <img id="headerImg" src="{% static '/main/img/progger.jpg' %}" alt="Программист за рабочим столом">
                {% block header %}{% endblock %}
            </header>
            <nav id="navigation">
                <div id="time">
                    <p>
                    <script>
                        function TimeNow () {
                            var Now = new Date();
                            var day = Now.getDate();
                            var month = Now.getMonth()
                            var year = Now.getFullYear();
                            var hours = Now.getHours();
                            var minutes = Now.getMinutes();
                            var seconds = Now.getSeconds();
                            var monthes = ['Января']
                            seconds = seconds < 10 ? '0' + seconds : seconds;
                            minutes = minutes < 10 ? '0' + minutes : minutes;
                            var full = `${day}  ${monthes[Now.getMonth()]}  ${year}г.  время  ${hours}:${minutes}:${seconds}`;
                            document.getElementById('time').textContent = full;
                            setTimeout(TimeNow, 500)
                        };
                        TimeNow ()
                    </script>
                    </p>
                </div>
                <div class="navButton">
                    <a href="{% url 'home' %}">Домой</a>
                </div>
                <div class="navButton">
                    <a href="{% url 'java-script' %}">JavaScript</a>
                </div>
                <div class="navButton">
                    <a href="{% url 'abouts' %}">Про нас</a>
                </div>
                <div class="navButton">
                    <a href="{% url 'contact' %}">Вспомагательные материалы</a>
                </div>
                <div class="navButton">
                    <a href="{% url 'kish' %}">Проект "Король и шут"</a>
                </div>
                <div class="navButton">
                    <a href="{% url 'parser' %}">Пaрсер</a>
                </div>
                <div class="navButton">
                    <a href="{% url 'blog_home' %}">Блог</a>
                </div>
            </nav>
            <main>{% block content %}{% endblock %}</main>
            <footer id="footer">
                <h1>
                    2025
                </h1>
            </footer>
        </div>
    </div>
</body>

</html>