{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
<h1>{{ header }}</h1>
{% endblock %}
{% block content %}
        <div>
            <div class="param_form" style="padding: 0.5vw; text-align: center">
                {% if year and pages %}
                    <h3>Фильмы за {{ year }} год. Страниц: {{ pages }}</h3>
                {% elif year %}
                    <h3>Фильмы за {{ year }} год.</h3>
                {% else %}
                    <h3>Выберете год и колличество отображаемых страниц.</h3>
                {% endif %}
                <form method="get"> <!--можно прописать атрибут action, чтобы указать на какой странице будет происходить обработка данных, если не указывать, то на текущей-->
                    {% csrf_token %}<br>
                    <input name="year" type="number" class="input"  min="2020" max="2025" placeholder="Выберите год">
                    <input name="pages" type="number" class="input"  min="1" max="30" placeholder="Выберите кол-во страниц">
                    <button type="submit" id="submit-button">ОК</button>
                    <button type="submit" id="submit-button" name="clear" value="True">Очистить БД</button>
                </form>
            </div>
            <p style="font-size: {{ font_size }}px; color: #b5b3b3">{{ content }}</p>
        </div>
{% if JsonData %}
    <div class="content">
        {% for item in JsonData %}
        <a class="film-card" href="{{item.link}}">
            <div>
                <h5>{{item.name}}</h5>
                {% if item.img %}
                    <img src="{{item.img}}" alt="{{item.name}}">
                {% else %}
                    <img src="{% static 'main/img/none.jpg' %}" alt="{{item.name}}">
                {% endif %}
                <h5>{{item.year}} стр{{item.page}}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
{% else %}
    <div class="content">
        <div class="film_card">
            <h4>Нечего отображать</h4>
        </div>
    </div>
{% endif %}
{% endblock %}