{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
<h1>{{ header }}</h1>
{% endblock %}
{% block content %}
        <div style="text-align: center">
            <div class="param_form" style="padding: 0.5vw; text-align: center">
                {% if year and pages %}
                    <h2>Фильмы за {{ year }} год. Страниц: {{ pages }}</h2>
                {% elif year %}
                    <h2>Фильмы за {{ year }} год.</h2>
                {% else %}
                    <h2>Выберете год и колличество отображаемых страниц.</h2>
                {% endif %}
                <form method="get"> <!--можно прописать атрибут action, чтобы указать на какой странице будет происходить обработка данных, если не указывать, то на текущей-->
                    {% csrf_token %}<br>
                    <input name="year" type="number" class="input" value="{{ year }}" min="2020" max="2025" placeholder="Выберите год">
                    <input name="pages" type="number" class="input" value="{{ pages }}" min="1" max="30" placeholder="Выберите кол-во страниц">
                    <button type="submit" id="submit-button">ОК</button>
                </form>
            </div>
            <p style="font-size: 20px; color: #b5b3b3">{{ content }}</p>
        </div>

{% if JsonData %}
    <div class="content">
        {% for item in JsonData %}
            <div class="film_card">
                <h3>{{item.name}}</h3>





                {% if item.img %}
                    <a href="{{item.link}}"><img class="card_img" src="{{item.img}}" alt="{{item.name}}"></a>
                {% else %}
                    <a><img class="card_img" src="{% static 'main/img/none.jpg' %}" alt="{{item.name}}"></a>
                {% endif %}



 <!--               <a href="{{item.link}}"><img class="card_img" src="{{item.img}}" alt="{{item.name}}"></a> -->
                <h3>{{item.year}} стр{{item.page}}</h3>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="content">
        <div style="width: 300px; height: 100px">
            <h2>Нечего отображать</h2>
        </div>
    </div>
{% endif %}
{% endblock %}