* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background: #2d2d2d;
    background-image: url("../img/kish_back.jpg");
    background-position: -100px -170px;
    background-repeat: no-repeat;


}

.header {
    height: 100px;
    background: #0e0d0d;
    background-image: url("../img/kish.jpg");
    background-repeat: no-repeat;
    margin: 500px 60px 40px;
    padding: 1px;
    text-align: center;
    border: 2px solid #2c2828;
    box-shadow: 5px 5px 11px #e0d0a9;
    border-radius: 15px;
    color: #e0d0a9;
    display: flex;
}

.header-h1 {
    margin: auto;
    font-size: 48px;
}
.main-section {
    height: 200vh;
    background: #e0d0a9;
    margin: 0 60px 10px;
    padding: 30px;
    border: 2px solid #2c2828;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}

.footer {
    border: 2px solid #2c2828;
    background: aquamarine;
    margin: 0 60px 30px;
    text-align: center;
    padding: 30px;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}