* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background: #2d2d2d;
    background-image: url("../img/kish_back.jpg");
    background-position: -100px -170px;
    background-repeat: no-repeat;


}

.header {
    height: 100px;
    background: black;
    background-image: url("../img/kish.jpg");
    background-repeat: no-repeat;
    margin: 500px 30px 10px;
    padding: 30px;
    text-align: center;
    border: 2px solid #2c2828;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
    color: #e0d0a9;
}

.main-section {
    height: 200vh;
    background: #e0d0a9;
    margin: 0 30px 10px;
    padding: 30px;
    border: 2px solid #2c2828;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}

.footer {
    border: 2px solid #2c2828;
    background: aquamarine;
    margin: 0 30px 30px;
    text-align: center;
    padding: 30px;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}