* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background: #2d2d2d;
    background-image: url("../img/kish_back.jpg");
    background-position: -100px -210px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.header {
    height: 230px;
    width: 1230px;
    background: #0e0d0d;
    background-image: url("../img/kish.jpg");
    background-repeat: no-repeat;
    margin: 570px 60px 40px;
    padding: 0px;
    text-align: center;
    border: 2px solid #2c2828;
    box-shadow: 3px 3px 17px #e0d0a9;
    border-radius: 25px;
    color: #e0d0a9;
    display: inline-block;
}

.header-h1 {
    margin: auto;
    font-size: 48px;
}

.main-section {
    height: auto;
    background: #0e0d0d;
    margin: 50px 270px 10px;
    padding: 30px;
    border: 2px solid #2c2828;
    box-shadow: 5px 5px 17px #e0d0a9;
    border-radius: 15px;
    text-align: center;
}

.footer {
    border: 2px solid #2c2828;
    background: #0e0d0d;
    margin: 0 300px 30px 100px;
    text-align: center;
    padding: 30px;
    box-shadow: 5px 5px 11px #e0d0a9;
    border-radius: 15px;
    color: #aaa1a1;
}

.links {
    width: 100%;
    display: block;
    margin-left: 190px;
    margin-top: 110px;
}

a {
    color: #eac0ab;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    list-style: none;
    font-size: 58px;
    transition-delay: 0.1s;
    transition: all 0.4s;
}

a:hover {
    color: #e8b398;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #45291f;
    list-style: none;
    transform: scale(1.02);
}

a:focus {
  color: #705439;
}

.h2-about {
    color: #ffffff;
    font-size: 48px;
}
.p-about {
    color: #ffffff;
    font-size: 30px;
}

.a_about {
    color: #4d4d4d;
    font-size: 20px;
}

.img_about {
    width: 80%;
    height: 80%;


    border-radius: 5px;
}
