* {
    box-sizing: border-box;
    user-select: none;
}

#back-tinting {
    background-color: rgba(0, 0, 0, 0.7);
}

#manage-div {
    padding: 20px 40px 0;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 420px;
    border: #ffffff 2px;
}

#title-div {
    padding: 20px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-block-left {
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#hero-items {
    width: 110px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 30px;
    top: 250px;
}

#hero-items button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    position: relative;
}

#hero-items img {
    position: absolute;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

#hero-items h3 {
    position: relative;
    top: 20px;
    left: 10px;
}

#title-block-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-block-right {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#body-div {
    font-size: 40px;
    color: white;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#foot-div {
    font-size: 40px;
    color: white;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.animation-scale {
    animation-duration: 0.8s;
    animation-name: scaling;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: none;
    cursor: pointer;
}

@keyframes scaling {
    from {
        scale: 0.99;
    }
    to {
        scale: 1;
    }
}

.animation-shake-card {
    animation-duration: 4s;
    animation-name: shake-card;
    animation-iteration-count: 1;
    animation-direction: alternate;
    border: none;
    cursor: pointer;
}

@keyframes shake-card {
    0% {
        position: relative;
        left: 0px;
        top: 0px;
    }

    5% {
        left: 20px;
        top: 5px;
    }

    10% {
        left: -20px;
    }

    15% {
        left: 10px;
    }

    20% {
        left: -5px;
    }

    40% {
        position: relative;
        left: 0px;
        top: 0px;
    }

}

.animation-damage {
    animation-duration: 0.5s;
    animation-name: damage;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes damage {
    0% {
        scale: 0.1;
    }

    50% {
        scale: 3.3;
    }

    100% {
        scale: 1;
    }
}

.game_button {
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e0d0d;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    font-size: 90px;
    font-family: "Comic Sans MS";
    border-radius: 30px;
    padding: 20px;
}

.skill_button {
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #0e0d0d;
    color: white;
    font-size: 30px;
    font-family: "Comic Sans MS";
    background-size: cover;
    border-radius: 20px;
    width: 350px;
    height: 200px;
    border: rgba(0, 0, 0, 0.8) solid 2px;
    box-shadow: #0e0d0d 2px 2px 5px;
}

.game_button_exit {
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0e0d0d;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 15px;
    font-family: "Comic Sans MS";
    border-radius: 20px;
}

.game_card {
    height: 400px;
    width: 400px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.game_card img {
    height: 400px;
    width: 400px;
    border-radius: 30px;
    box-shadow: #eeeeee 0 0 15px;
}

.loot {
    position: relative;
}

.loot img{
     height: 120px;
     width: 120px;
     border-radius: 15px;
     box-shadow: 0 0 15px white;
}



.DM-h2 {
    color: #eeeeee;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e0d0d;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 50px;
    text-shadow: #eeeeee 0 0 40px;
}

.DM-h3 {
    color: #eeeeee;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0e0d0d;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 30px;
    text-shadow: #eeeeee 0 0 20px;
}

.DM-h4 {
    color: #eeeeee;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
    text-shadow: #eeeeee 0 0 20px;
}

