#back-tinting {
    background-color: rgba(0, 0, 0, 0.7);
}

#title-div {
    padding: 20px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-block-left {
    width: 33%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#title-block-center {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-block-right {
    width: 33%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#manage-div {
    padding: 10px;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: #ffffff 2px;
}

#body-div {
    font-size: 40px;
    color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot-div {
    font-size: 40px;
    color: white;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.animation-scale {
    animation-duration: 0.8s;
    animation-name: scaling;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: none;
    cursor: pointer;
}

@keyframes scaling {
    from {
        scale: 0.99;
    }
    to {
        scale: 1;
    }
}

.animation-shake-card {
    animation-duration: 1s;
    animation-name: shake-card;
    animation-iteration-count: 1;
    animation-direction: alternate;
    border: none;
    cursor: pointer;
}

@keyframes shake-card {
    0% {
        position: relative;
        left: 0px;
        top: 0px;
    }

    20% {
        left: 30px;
    }

    40% {
        left: -20px;
    }

    60% {
        left: 10px;
    }

    80% {
        left: -10px;
    }

    100% {
        position: relative;
        left: 0px;
        top: 0px;
    }
}

.game_button {
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e0d0d;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    font-size: 50px;
    font-family: "Comic Sans MS";
    border-radius: 30px;
    padding: 20px;
}

.skill_button {
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #0e0d0d;
    color: white;
    font-size: 30px;
    font-family: "Comic Sans MS";
    background-size: cover;
    border-radius: 20px;
    width: 350px;
    height: 200px;
    border: rgba(0, 0, 0, 0.8) solid 2px;
    box-shadow: #0e0d0d 2px 2px 5px;
}

.game_button_exit {
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0e0d0d;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 15px;
    font-family: "Comic Sans MS";
    border-radius: 20px;
}

.game_card {
    height: 500px;
    width: 500px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

h2 {
    color: #eeeeee;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 50px;
}
