* {
    box-sizing: border-box;
}

body {
    background: #1e2022;
    margin: 0;
}

h1 {
    color: #eeeeee;
    font-size: 70px;
}

aside {
    float: left;
    background: #39393c;
    width: 20%;
    padding: 2.0%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside h3 {
    margin: 40px auto;
    font-size: 32px;
    text-align: center;
}

aside ul {
    list-style: none;
    display: inline-block;
}
aside ul a {
    color: aliceblue;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    transition: all .6s;

}

aside ul Li:hover, aside ul a:hover {
    color: #aaa1a1;
    transform: scale(1.1);
    transition-delay: 0.01s;
}

main {
    margin-left: 20%;
}

.features {

}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

div a {
    list-style-type: none;
    margin-bottom: 10px;
}

.about {
    padding-top: 90px;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: auto;
}

.about-links {
    font-size: 26px;
    text-decoration: none;
    margin: 20px auto;
    color: #ffffff;
    font-family: Impact;
    font-weight: normal;
    display: block;
    transition: all .9s;
    transition-delay: 0.01s;
}

.about-links:hover {
    transform: scale(2);
    color: #e0d0a9;
    text-shadow: 10px 5px 5px #504e4e;
}

.contacts-title {
    color: #e0d0a9;
    text-align: center;
    font-size: 56px;
    font-weight: bolder;
    padding-top: 3%;
    transition: all 3.2s;
}
