* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

#body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/background.webp");
    background-attachment: fixed;
    background-size: cover;
}

#tinting {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(50, 50, 50, 0.8);
}

#skeleton {
    margin: 3vh 3vw;
    min-height: 90vh;
}

#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 10.3vw;
    background-color: rgba(50, 50, 50, 0.8);
    border-top-left-radius: 1.8vw;
    border-top-right-radius: 1.8vw;
    border: rgba(0, 0, 0, 1) solid 0.2vw;
}

#header Img {
    position: absolute;
    left: 0;
    top: 0;
    height: 10.1vw;
    border-top-left-radius: 1.8vw;
}

#time {
    color: rgb(200, 200, 200);
    position: absolute;
    right: 1vw;
    top: -2vw;
    font-size: 1vw;
    font-family: "Comic Sans MS";
}

#navigation {
    display: flex;
    position: sticky;
    top: -0.8vw;
    background-color: rgba(255, 0, 0, 0.5);
    border-left: rgba(0, 0, 0, 1) solid 0.2vw;
    border-right: rgba(0, 0, 0, 1) solid 0.2vw;
    border-bottom: rgba(0, 0, 0, 1) solid 0.2vw;
}

.navButton {
    padding: 1vw;
    transition: all .3s;
    transition-delay: 0.02s;
}

.navButton:hover {
    background-color: rgba(255, 0, 0, 0.9);
    transform: scale(1.02);
    cursor: pointer;
}

nav a {
    font-size: 1vw;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(200, 200, 200);
    text-shadow: rgba(0, 0, 0, 1) 0.2vw 0.2vw 0.3vw;
}

#main {
    padding: 2vw;
    background-color: rgba(50, 50, 50, 0.8);
    min-height: 55vh;
    border-left: rgba(0, 0, 0, 1) solid 0.2vw;
    border-right: rgba(0, 0, 0, 1) solid 0.2vw;
}

.content {
    margin: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vw;
    background-color: rgba(50, 50, 50, 0.8);
    border-bottom-left-radius: 1.8vw;
    border-bottom-right-radius: 1.8vw;
    border: rgba(0, 0, 0, 1) solid 0.2vw;
}

h1 {
    color: rgb(200, 200, 200);
    font-size: 4vw;
}

h2 {
    color: rgb(200, 200, 200);
    font-size: 2vw;
}

h3 {
    color: rgb(200, 200, 200);
    font-size: 1.5vw;
}

h4 {
    color: rgb(200, 200, 200);
    font-size: 1vw;
}

h5 {
    color: rgb(200, 200, 200);
    font-size: 0.8vw;
}


.JavaBox {
    padding: 1vw;
    background-color: rgb(200, 200, 200);
    border: rgba(0, 0, 0, 1) solid 0.2vw;
    border-radius: 2vw;
}

.about-links {
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: all 1s;
}

.about-links:hover {
    transform: scale(1.1);
}



.trade_card_green {
    transition: all 0.3s;
    background-color: rgba(15,255,0,0.3);
    height: 4vw;
    margin: 0.5vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw
}

.trade_card_green:hover {
    background-color: rgba(15,255,0,0.4);
    transform: scale(1.01);
}

.trade_card_red {
    transition: all 0.3s;
    background-color: rgba(255,0,0,0.3);
    height: 4vw;
    margin: 0.5vw;
    display: flex;
    align-items: center;
    border-radius: 0.5vw
}

.trade_card_red:hover {
    background-color: rgba(255,0,0,0.4);
    transform: scale(1.01);
}
