* {
    box-sizing: border-box;
    user-select: none;
}

#body {
    display: flex;
    margin: 0;
    background-image: url("../img/background.webp");
    background-attachment: fixed;
    background-size: cover;
}

#tinting {
    background-color: rgba(50, 50, 50, 0.8);
    background-size: cover;
}

#skeleton {
    position: static;
    margin: 3vw;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 2vw;
    border: rgba(0, 0, 0, 1) solid 0.2vw;
}

#header {
    padding-top: 0.5vw;
    height: max-content;
    background-color: rgba(50, 50, 50, 0.8);
    text-align: center;
    border-top-left-radius: 1.8vw;
    border-top-right-radius: 1.8vw;
    border-bottom: rgba(0, 0, 0, 1) solid 0.2vw;
}

#headerImg {
    position: absolute;
    left: 3.2vw;
    top: 3.2vw;
    height: 10.4vw;
    border-top-left-radius: 1.8vw;
}

h1 {
    color: rgb(200, 200, 200);
    font-size: 4vw;
}

h2 {
    margin: 5vw;
    color: rgb(200, 200, 200);
    font-size: 2vw;
    text-align: center;
}

#navigation {
    display: flex;
    position: sticky;
    top: -0.8vw;
    background-color: rgba(255, 0, 0, 0.5);
}

.navButton {
    padding: 1vw;
    transition: all .3s;
    transition-delay: 0.02s;
}

.navButton:hover {
    background-color: rgba(255, 0, 0, 0.9);
    transform: scale(1.02);
    cursor: pointer;
}

nav div a {
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 1vw;
    text-decoration: none;
    color: rgb(200, 200, 200);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 1) 0.2vw 0.2vw 0.3vw;
}

#time {
    color: #eeeeee;
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-size: 1vw;
    font-family: "Comic Sans MS";
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    text-align: center;

}

#footer {
    height: max-content;
    background-color: rgba(50, 50, 50, 0.8);
    text-align: center;
    border-bottom-left-radius: 1.8vw;
    border-bottom-right-radius: 1.8vw;
    border-top: rgba(0, 0, 0, 1) solid 0.2vw;
}

.JavaBox {
    margin: 30px 30px;
    padding: 20px;
    height: max-content;
    width: max-content;
    background-color: rgb(200, 200, 200);
    border: rgba(0, 0, 0, 1) solid 3px;
    font-family: "Comic Sans MS";
    font-size: 2rem;
    border-radius: 30px;
}

#monitor {
    display: none;
    text-align: center;
    position: fixed;
    top: 260px;
    right: 30px;
    float: right;
    height: 200px;
    width: 400px;
    background-color: #0e0d0d;
    border: rgb(255, 0, 0) solid 4px;
    border-radius: 20px;
}

.about-links {
    height: max-content;
    width: max-content;
    font-size: 26px;
    text-decoration: none;
    margin: 10px;
    color: rgb(200, 200, 200);
    font-family: Impact;
    font-weight: normal;
    display: block;
    transition: all .9s;
    transition-delay: 0.01s;
}

.about-links:hover {
    color: #e0d0a9;
    text-shadow: 10px 5px 5px #504e4e;
}



