{% extends 'kish/layout.html' %}
{% load static%}
{% block title %}
    Биография
{% endblock%}
{% block content%}
    <h2  id = "anchor-to-about-section"></h2>
    <section class="main-section">
        <a class="a_about" href="{% url 'kish' %}"><Li>На главную</Li></a>

        <h2 class="h2-about">
            Группа Король и шут.
        </h2>
        <img class="img_about"  src="{% static 'main/img/kish_group.jpg'%}" alt="Группа Король и шут">
        <p class="p-about" >«Король и Шут» (сокращённо «КиШ») — советская и российская хоррор-панк-группа из Санкт-Петербурга.
        Группа была образована в Ленинграде в 1988 году. После смерти её лидера и одного из основателей Михаила
        Горшенёва 19 июля 2013 года выступает только в рок-мюзикле TODD.
        Выделяется своим необычным для классического панк-рока стилем. Песни группы представляют собой небольшие
        законченные истории, часто в фэнтезийном, мистическом, а также
        историческом и ужасающем ключе. Сценический имидж группы постоянно менялся и часто включал в себя
        грим, соответствующий тематике песен. В прессе группа неоднократно обозначалась как «культовая»[6][7][8][9][10].
        Изначально преобладающий в музыкальной составляющей ритмичный хоррор-панк со временем вышел за границы
        стиля и вобрал в себя множество музыкальных элементов: фолк-рок
        («Акустический альбом»), арт-панк («Театр демона»), хардкор-панк («Бунт на корабле»), хард-рок
        («Как в старой сказке») и многие другие. На раннем этапе сильное влияние на группу оказали The Beatles[11][12].
        За 26 лет своего существования группа выпустила 12 студийных альбомов, 2 сборника и 5 концертных альбомов.
        </p>
        <h2 class="h2-about">
            Михаил «Горшок» Горшенёв
        </h2>
        <img class="img_about" src="{% static 'main/img/G.webp'%}" alt="Горшенев">
        <p class="p-about">
            Михаи́л Ю́рьевич Горшенёв (7 августа 1973, Пикалёво, Ленинградская область, СССР — 19 июля 2013, Санкт-Петербург, Россия), также известный как Горшо́к, — советский и российский рок-музыкант, композитор, поэт, актёр театра. Основатель, один из двух фронтменов и вокалистов (вместе с Андреем Князевым) панк-рок-группы «Король и Шут». Автор большей части музыки и некоторых текстов группы[1][2][3][4][5].
            В 2011—2013 годах — один из создателей и исполнитель главной роли Суинни Тодда в рок-мюзикле TODD[6].
            Старший брат лидера рок-групп «Кукрыниксы» и «Горшенёв» Алексея Горшенёва.
        </p>
    </section>

{% endblock%}