{% extends 'kish/layout.html' %}
{% load static%}

{% block title %}
    Аккорды
{% endblock%}

{% block content%}
    <h2  id = "anchor-to-chords-section"></h2>
    <section class="chords-section">

        <a class="chords-a" href="#we-are-not-angels">
            Мы не ангелы
        </a>
        <a class="chords-a" href="#we-are-not-angels">
            Камнем по голове
        </a>
        <a class="chords-a" href="#we-are-not-angels">
            Прыгну со скалы
        </a>
        <a class="chords-a" href="#we-are-not-angels">
            Старинный старый дом
        </a>
        <h1 id="we-are-not-angels">
        </h1>
                <h2 class="chords-h2" >
                    <br><br><br>
            Мы не ангелы
        </h2>

        <div class="song">
            <div class="verse">
                Em  &ensp; &ensp; &ensp; &ensp; &ensp;    D<br>
                Ты открывал ночь —<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Все, что могли позволить.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Маски срывал прочь,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Душу держал в неволе.<br>
                Em    &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Пусть на щеке кровь<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Ты свалишь на помаду,<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                К черту барьер слов,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Ангелу слов не надо.<br><br><br>

            </div>
            <div class="verse">
                Припев:<br>
                Em<br>
                А мы не ангелы, парень,<br>
                Em<br>
                Нет — мы не ангелы,<br>
                D<br>
                Темные твари, и сорваны планки нам,<br>
                Am<br>
                Если нас спросят, чего мы хотели бы,<br>
                C        &ensp; &ensp; &ensp; &ensp; &ensp;     D<br>
                Мы бы взлетели, мы бы взлетели.<br>
                Em<br>
                Мы не ангелы, парень,<br>
                Em<br>
                Нет — мы не ангелы,<br>
                D<br>
                Там на пожаре утратили ранги мы<br>
                Am<br>
                Нету к таким ни любви, ни доверия<br>
                C      &ensp; &ensp; &ensp; &ensp; &ensp;       D<br>
                Люди глядят на наличие перьев<br>
                Em<br>
                Мы не ангелы, парень... x3<br><br><br>
            </div>
                        <div class="verse">
                Em    &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Сотни чужих крыш,<br>
                C     &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Что ты искал там, парень?<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Ты так давно спишь,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Слишком давно для твари.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Может, пора вниз?<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Там, где ты дышишь телом,<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Брось свой пустой лист -<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Твари не ходят в белом...<br>
            </div>

            <div class="verse">
                Припев:<br>
                Em<br>
                А мы не ангелы, парень,<br>
                Em<br>
                Нет — мы не ангелы,<br>
                D<br>
                Темные твари, и сорваны планки нам,<br>
                Am<br>
                Если нас спросят, чего мы хотели бы,<br>
                C     &ensp; &ensp; &ensp; &ensp; &ensp;        D<br>
                Мы бы взлетели, мы бы взлетели.<br>
                Em<br>
                Мы не ангелы, парень,<br>
                Em<br>
                Нет — мы не ангелы,<br>
                D<br>
                Там на пожаре утратили ранги мы<br>
                Am<br>
                Нету к таким ни любви, ни доверия<br>
                C      &ensp; &ensp; &ensp; &ensp; &ensp;       D<br>
                Люди глядят на наличие перьев<br>
                Em<br>
                Мы не ангелы, парень... x3<br>
            </div>
            <div class="verse">
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Снова под купол,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Также скрипя и плача.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Лишь бы до кукол<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                взглядом, а как иначе?<br>
                Em  &ensp; &ensp; &ensp; &ensp; &ensp;    D<br>
                Мелко по трубам,<br>
                C     &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                В небо не быть дороге.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Больно и глупо -<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Но твари летать не могут.<br><br><br>
            </div>
        </div>
    </section>
{% endblock%}