{% extends 'kish/layout.html' %}
{% load static%}

{% block title %}
    Аккорды
{% endblock%}

{% block content%}
    <h2  id = "anchor-to-chords-section"></h2>
    <section class="chords-section">
        <div class="chords-section-hone-link">
            <a class="a_about" href="{% url 'kish' %}"><Li>На главную</Li></a>
        </div>

        <a class="chords-a" href="#we-are-not-angels">
            Мы не ангелы
        </a>
        <a class="chords-a" href="#a stone on the head">
            Камнем по голове
        </a>
        <a class="chords-a" href="#we-are-not-angels">
            Прыгну со скалы
        </a>
        <a class="chords-a" href="#we-are-not-angels">
            Старинный старый дом
        </a>

        <h2 class="chords-h2" id="we-are-not-angels">
            <br><br><br>
            Мы не ангелы
        </h2>
        <div class="song">
            <div class="verse">
                Em  &ensp; &ensp; &ensp; &ensp; &ensp;    D<br>
                Ты открывал ночь —<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Все, что могли позволить.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Маски срывал прочь,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Душу держал в неволе.<br>
                Em    &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Пусть на щеке кровь<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Ты свалишь на помаду,<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                К черту барьер слов,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Ангелу слов не надо.<br><br><br>

            </div>
            <div class="verse">
                Припев:<br>
                Em<br>
                А мы не ангелы, парень,<br>
                Em<br>
                Нет — мы не ангелы,<br>
                D<br>
                Темные твари, и сорваны планки нам,<br>
                Am<br>
                Если нас спросят, чего мы хотели бы,<br>
                C        &ensp; &ensp; &ensp; &ensp; &ensp;     D<br>
                Мы бы взлетели, мы бы взлетели.<br>
                Em<br>
                Мы не ангелы, парень,<br>
                Em<br>
                Нет — мы не ангелы,<br>
                D<br>
                Там на пожаре утратили ранги мы<br>
                Am<br>
                Нету к таким ни любви, ни доверия<br>
                C      &ensp; &ensp; &ensp; &ensp; &ensp;       D<br>
                Люди глядят на наличие перьев<br>
                Em<br>
                Мы не ангелы, парень... x3<br><br><br>
            </div>
                        <div class="verse">
                Em    &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Сотни чужих крыш,<br>
                C     &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Что ты искал там, парень?<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Ты так давно спишь,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Слишком давно для твари.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Может, пора вниз?<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Там, где ты дышишь телом,<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Брось свой пустой лист -<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Твари не ходят в белом...<br>
            </div>
            <div class="verse">
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                Снова под купол,<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Также скрипя и плача.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Лишь бы до кукол<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                взглядом, а как иначе?<br>
                Em  &ensp; &ensp; &ensp; &ensp; &ensp;    D<br>
                Мелко по трубам,<br>
                C     &ensp; &ensp; &ensp; &ensp; &ensp;  D<br>
                В небо не быть дороге.<br>
                Em   &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Больно и глупо -<br>
                C    &ensp; &ensp; &ensp; &ensp; &ensp;   D<br>
                Но твари летать не могут.<br><br><br>
            </div>
        </div>
        <h2 class="chords-h2" id="a stone on the head">
            Камнем по голове
        </h2>
        <div class="song">
            <div class="verse">
                                    Am<br>
                 В провинциальном городке<br>
                     F<br>
                 Был праздник музыка звучала.<br>
                    Dm<br>
                 Но вот, в ликующий толпе,<br>
                     E<br>
                 Возник зловеший лик бродяги.<br>
                    Am<br>
                 Он шел, как будто был один<br>
                     F<br>
                 Толпа его не замечала.<br>
                    G<br>
                 И как-то страно на него<br>
                      E<br>
                 Смотрели местные собаки.<br>
            </div>
            <div class="verse">
                      Am       G<br>
                   В черном цилиндре<br>
                        C       F<br>
                   В наряде старинном<br>
                      Dm<br>
                   В город на праздник<br>
                          E<br>
                   Путник очень спешил<br>
                         Am       G<br>
                   По горам пробирался<br>
                   C     F<br>
                   И улыбался<br>
                       Dm<br>
                   Но камень сорвался<br>
                                 E<br>
                   В пропасть с горных вершин<br>
            </div>
            <div class="verse">
                    Куплет 2:<br>
                    Am<br>
                 Был грязный плащ на нем одет,<br>
                     F<br>
                 Цилиндр черный смят в гармошку.<br>
                    Dm<br>
                 Себе под ноги но глядел,<br>
                     E<br>
                 А в кулаке сжимал он маску.<br>
                    Am<br>
                 Но кто-то крикнул вдруг "Привет!"<br>
                     F<br>
                 Повеселился б ты немножко -<br>
                    G<br>
                 В такой веселый светлый день,<br>
                      E<br>
                 Как можно быть таким несчастным<br>

            </div>
            <div class="verse">
                     Am<br>
                 И проходимец поднял взгляд<br>
                     F<br>
                 И злобным голосом ответил:<br>
                      Dm<br>
                 "Я всех замучить был бы рад<br>
                   E<br>
                 И от того я так не весел.<br>
                      Am<br>
                 Я в маске рыжей обезьяны<br>
                      F<br>
                 На праздник к вам попасть мечтал,<br>
                     G<br>
                 Когда б не камень окаянный,<br>
                       E<br>
                 Что мне на голову упал."<br>
            </div>
        </div>
    </section>
{% endblock%}