{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/blocks.css' %}">
    <title>{% block title %}{% endblock%}</title>
</head>
<body class="body">
    <header class="header">
        <div class="links">
            <a href="{% url 'about_kish' %}#anchor-to-about-section"><Li><i class="fas fa-guitar"></i> О группе</Li></a>
            <a href="{% url 'kish' %}"><Li><i class="fas fa-guitar"></i> Альбомы</Li></a>
            <a href="{% url 'chords' %}#anchor-to-chords-section"><Li><i class="fas fa-guitar"></i> Аккорды</Li></a><br>
            <a href="{% url 'home' %}"><Li><i class="fas fa-guitar"></i> Вернуться домой</Li></a>
        </div>
    </header>
    {% block content %}
    {% endblock%}
</body>
</html>