{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>CSS_lesson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/CSS_lesson.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link
      rel="icon"
      href="https://code.s3.yandex.net/web-code/images/playlist-favicon.ico"
    />
</head>

<body>
    <header class="playlistHeader">
        <h1>Playlist</h1>
    </header>
    <section class="playlistMainSection">
        <div>
            <h1>The Life of</h1>
            <h2>Coder</h2>
            <img src="https://pictures.s3.yandex.net/frontend-developer/free-course/mountains.jpg" alt="Чёрно-белая фотография гор в тумане"
            />
            <h3>2022 Liza G.</h3>
        </div>
        <p><a target="_blank" href="https://music.yandex.ru/users/ynx-praktikum/playlists/1002">Плейлист</a> для беспечного занятия кодингом.</p>
        <p>Один раз послушал — семь раз покодил.</p>
        <section>
            <a href="{% url 'CSS_lesson' %}" class = "btn btn-warning">назад</a>
        </section>
    </section>
    <footer class="playlistFooter">
        <h1>2025</h1>
    </footer>
</body>
</html>