{% extends 'main/layout.html' %}
{% load static %}
{% block title %}MadJunior: Блог{% endblock %}
{% block header %}
    <h1>Блог</h1>
{% endblock %}

{% block content %}
    <div style="text-align: center"><a href="{% url 'create' %}"><button class="button">Новая запись</button></a></div>


        {% if blog %}
            {% for item in blog %}
                <a href="{% url 'blog-detail' item.id %}">
                    <div class="film_card">
                        <h3>{{ item.title }}</h3>
                        <h3>{{ item.anons }}</h3>

                    </div>
                </a>
            {% endfor %}
        {% else %}
           <h3>У вас нет статей</h3>
        {% endif %}
{% endblock %}