{% extends 'main/layout.html' %}
{% load static %}
{% block title %}MadJunior: Блог: добавить запись{% endblock %}
{% block header %}
    <h1>Блог: добавить запись</h1>
{% endblock %}

{% block content %}
<h2>Добавить запись</h2>
    <form method="post"> <!--можно прописать атрибут action, чтобы указать на какой странице будет происходить обработка данных, если не указывать, то на текущей-->
        {% csrf_token %}<br>
        {{ form.title }}<br>
        {{ form.anons }}<br>
        {{ form.full_text }}<br>
        {{ form.date }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="button">Добавить блог</button>
    </form>
{% endblock %}